:root {
  --black: #202225;
  --grey-darkest: #2f3136;
  --grey-darker: #36393f;
  --grey-dark: #ffffff33;
  --grey: #ffffff66;
  --grey-light: #42464d;
  --grey-lighter: #b9bbbe;
  --grey-lightest: #dcddde;
  --purple-darker: #5b6eae;
  --purple-dark: #677bc4;
  --purple: #7289da;
  --red: #f04747;
}

.bg-black {
  background-color: var(--black);
}

.hover\:border-black:hover {
  border-color: var(--black);
}

.bg-grey-darkest {
  background-color: var(--grey-darkest);
}

.bg-grey-darker {
  background-color: var(--grey-darker);
}

.hover\:bg-grey-darker:hover {
  background-color: var(--grey-darker);
}

.text-grey-dark {
  color: var(--grey-dark);
}

.border-grey-dark {
  border-color: var(--grey-dark);
}

.bg-grey-light {
  background-color: var(--grey-light);
}

.text-grey-lighter {
  color: var(--grey-lighter);
}

.text-grey-lightest {
  color: var(--grey-lightest);
}

.hover\:bg-purple-dark:hover {
  background-color: var(--purple-dark);
}

.active\:bg-purple-darker:active {
  background-color: var(--purple-darker);
}

.text-purple {
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}

.focus\:border-purple:focus {
  border-color: var(--purple);
}

.text-red {
  color: var(--red) !important;
}

.border-red {
  border-color: var(--red) !important;
}

.transition-border {
  transition: border 0.15s ease;
}

.hidden {
  display: none !important;
}

.container {
  padding-top: 16.66667vh;
  padding-bottom: 16.66667vh;
}

body {
  background-image: url("https://discordapp.com/assets/14c037b7102f18b2d2ccf065a52bb595.jpg");
  background-size: cover;
  background-position: center;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--black);
}

#chats::-webkit-scrollbar-track,
#messages::-webkit-scrollbar-track,
#users::-webkit-scrollbar-track {
  border: 3px solid;
  margin: 5px;
}

#chats::-webkit-scrollbar-track,
#users::-webkit-scrollbar-track {
  border-color: var(--grey-darkest);
}

#messages::-webkit-scrollbar-track {
  background-color: var(--grey-darkest);
  border-color: var(--grey-darker);
}

#chats::-webkit-scrollbar-thumb,
#messages::-webkit-scrollbar-thumb,
#users::-webkit-scrollbar-thumb {
  border: 3px solid;
}

#chats::-webkit-scrollbar-thumb,
#users::-webkit-scrollbar-thumb {
  border-color: var(--grey-darkest);
}

#messages::-webkit-scrollbar-thumb {
  border-color: var(--grey-darker);
}

/* Register */

#register-container form {
  width: 480px;
}
